@model AddMedia
@{
    ViewData["Title"] = @Model.MediaType + ": " + @Model.Media;
}
<h1>@ViewData["Title"]</h1>

@foreach (var link in Model.PosterLinks.Items)
{
    <a href="" >
        <img src="@link.Link" />
    </a>
}
